/*BORDER AROUND IMPORTANT ELEMENTS*/
body, h1, h2, p, ol, footer{
    
    border: solid;
    border-color: rgba(165, 15, 15, 0.705);
    background-color: rgba(0, 0, 0, 0.411);
    margin-left: 90px;
    margin-right: 90px;
}


/*BACKGROUND STYLES START*/

/*BACKGROUND STYLES END*/

/*HEADER STYLES START*/
/*MENU NAVIGATION STYLES START*/
nav ul {
    text-align: center;
}
nav ul li {
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;

}
nav ul li a:link{
    color:red;
    text-decoration: none;

}
nav ul li :hover {
background-color: gainsboro;
}
nav ul li a:active {
color: white;
}
nav ul li a:visited {
    color: rgb(0, 0, 0);
}
/*MENU NAVIGATION STYLES END*/

body {
    color: rgb(255, 0, 0);
    background-color:gray;
    /*background-image: url("sfbridge.jpg");  /*background image to stand out
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height:100%; */
    
   
}
/*Page Grteetings*/

h1 {
    font-size: 50px;
    margin-top: 80px;
    font-family: Cursive, Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
    color:rgba(255, 0, 0, 0.808)
    
}
#tagline {
    font-size: 43px;
    font-family: Cursive, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border-width: thin;  
    border-radius: 90mm;
    border-top-style: ridge;

}

    
/*HEADER STYLES END*/

/*BODY STYLES START*/


p, h2, ol {
    margin-left: 90px;
    margin-right: 90px;

}
h2{
    font-size: 35px;
    margin-top: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    color: black;
}
p, ol{
    font-size: 18px;
    margin-top: 20px;
    padding: 20px 40px 20px 40px;
    
    
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.tab {
    text-indent: 1.5em; /*indent of body paragraphs*/
}

/*FOOTER STYLES START*/
/*BODY STYLES END*/
footer {
    margin-top: 90px;
    margin-bottom: 90px;
    padding-top: 25px;

}
/*AFFECTS THE UL LIST AS A WHOLE*/
footer ul {
    text-align: center;
    margin-bottom: 20px;
}
/*SOCIAL MEDIA LINKS ITSELF (WORDS)*/
footer ul li {
    display: inline-block; /*made white bar shrink to word*/
    line-height: 100%;
    border-radius: 1px;
    padding: 10px 30px;
}
footer ul li a {
    display: block;
    padding: 4px;
    font-size: 20px;
}
/*WHEN USER HOVERS OVER LINK (WORDS)*/
footer ul li:hover {/*user hovering over link*/
    background-color: gainsboro;
}
footer ul li a:link {/*unvisited link*/
    text-decoration: none;
    color: crimson;
}
footer ul li a:active {/*when link is clicked but this is not working yet*/
    color: red;
}
footer ul li a:visited {/*visited link*/
    color: rgb(0, 0, 0);
}
/*FOOTER STYLES END*/

/*HOMEPAGE STYLES START*/
/*
main span indentation of body paragraphs
    padding-left: 1.5em;
    text-indent: 40px;
}*/
/*gallery of SF*/


    
#jvh, #point {
    padding-top: 50px;
    display: flex;
    justify-content: center;
} 

/*HOMEPAGE STYLES END*/

/*PROJECT STYLES START*/

#projects {
    color:white;
}

#sfgallery {
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-shrink: 30%;  
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    border-style: double;
    border-color: rgba(255, 0, 0, 0.719);
    background-color: black;
    border-width: 20px;
    margin: 50px 200px 50px 200px;
}

#KA :link{
    color: rgba(255, 0, 0, 0.74);
}
#KA :hover{
    background-color: rgba(223, 149, 149, 0.788);
}

#KA :active{
    color: rgb(255, 0, 0);
}

/*PROJECT STYLES END*/